Section_01/Binaries/
Section_01/Build/
Section_01/Intermediate/
Section_01/Saved/
BuildingEscape/Binaries/
BuildingEscape/Build/
BuildingEscape/Intermediate/
BuildingEscape/Saved/
BuildingEscape/Content/StarterContent/
*.VC.db
